html {
    font-size: 62.5%;
    box-sizing: border-box; /* Hackpara Box Model*/
    background-image: url(../Img/PlantillaHoneyCake.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: oblique;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
  font-size: 16px; /* 1rem = 10px */
}
.titulo {
  text-align: center;
  font-size: 7rem;
  margin-top: 11rem;
  margin-bottom: 10rem;
  color: rgb(165, 91, 31);
  font-style: oblique;
  font-weight: 600;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

 /**navegacion**/
 .links-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.links {
  margin-bottom: 3rem;
  margin-top: 1rem;
}
@media (min-width: 900px) {
  .links-principal {
      flex-direction: row;
      justify-content: center;
  }
}
@media (max-width: 920px) {
    .links-principal, .contenedor {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      align-items: center;
      padding: 0 7rem 0 7rem;
    }
}
@media (max-width: 750px) {
  .links-principal, .contenedor{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}
.links-principal a {
  --glow-color: #dfb5ab94;
  --glow-spread-color: #d8a69b63;
  --enhanced-glow-color: rgba(251, 252, 252, 0);
  --btn-color: #e2bcb7d7;
  border: .20em solid var(--glow-color);
  padding: 1em 3em;
  color: rgba(170, 100, 43, 0.932);
  font-size: 1.9rem;
  background-color: var(--btn-color);
  border-radius: 4em;
  outline: none;
  -webkit-box-shadow: 0 0 .5em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
          box-shadow: 0 0 .2em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .1em var(--glow-color);
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.1s;
  text-decoration: none;
  text-align: center;
  margin: .5rem .5rem .5rem .5rem;
}
.links-principal a:after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 50%;
  width: 50%;
  -webkit-filter: blur(2em);
      filter: blur(5em);
      opacity: 1;
  -webkit-transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
      transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
} 
.links-principal a:hover {
  color: rgb(255, 255, 255);
  background-color: var(--glow-color);
  -webkit-box-shadow: 0 0 1em .25em var(--glow-color),
      0 0 4em 2em var(--glow-spread-color),
      inset 0 0 .75em .25em var(--glow-color);
      box-shadow: 0 0 1em .25em var(--glow-color),
      0 0 4em 2em var(--glow-spread-color),
      inset 0 0 .75em .25em var(--glow-color);
} 
.links-principal a:active {
  -webkit-box-shadow: 0 0 0.6em .25em var(--glow-color),
      0 0 2.5em 2em var(--glow-spread-color),
      inset 0 0 .5em .25em var(--glow-color);
      box-shadow: 0 0 0.6em .25em var(--glow-color),
      0 0 2.5em 2em var(--glow-spread-color),
      inset 0 0 .5em .25em var(--glow-color);
}

.contenedorw {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  font-size: 16px;
  margin-top: 10rem;
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 0.1rem);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 320px;
  list-style: none;
  background: #63ce002d; 
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 5rem;
}
.card {
  scroll-snap-align: start;
  height: 400px;
  list-style: none;
  cursor: pointer;
  padding-bottom: 15px;
  border-radius: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: baseline;
  align-content: space-evenly;
}
.carousel .card .img {
  background: #f1f1f100;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
.btn-conteiner {
  display: flex;
  justify-content: center;
  --color-text: #ff0dd7;
  --color-background: #d8a69bb4;
  --color-outline: #2bff0080;
  --color-shadow: #f1101080;
}
.btn-conteinerl {
  display: flex;
  justify-content: center;
  --color-text: #ff0dd7;
  --color-background: #d8a69bb4;
  --color-outline: #2bff0080;
  --color-shadow: #f1101080;
  transform: rotate(180deg);
}
.btn-content {
  display: flex;
  align-items: center;
  padding: 0px 5px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #00000080;;
  background: #d8a69bd8;
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}
.btn-content:hover,
.btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}
.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}
.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}
.icon-arrow {
  width: 20px;
  margin-left: 5px;
  position: relative;
  top: 6%;
}
/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}
#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}
.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}
.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}
.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}
/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: rgba(253, 118, 118, 0.623);
  }
  100% {
    fill: #fa9e9e;
  }
}
/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}
@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}
.stars {
  display: block;
  grid-gap: 0.125rem;
  gap: 0.125rem;
  color: rgb(238, 203, 8);
  margin-top: 2.3rem;
  margin-left: 2rem;
}
.star {
  height: 2rem;
  width: 2rem;
}
.infos {
  margin-left: 1.5rem;
}
.date-time {
  color: rgb(7, 10, 216);
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
.description {
  margin-top: 0.4rem;
  margin-right: 1rem;
  line-height: 1.625;
  color: rgb(165, 91, 31);
  font-size: 1.8rem;
  text-align: center;
}
.author {
  margin-top: 1.3rem;
  margin-left: 1.5rem;
  font-size: 1.4rem;
  line-height: 1.25rem;
  color: rgb(165, 91, 31);
}
.redes {
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
  place-content: center;
  margin-top: 6rem;
}
.icono {
  height: 70px;
  width: auto;
  margin: auto;
}
.contenedor-footer1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  text-align: center;
  font-size: 2rem;
  margin-top: 8rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.158), rgba(64, 255, 0, 0.288));
}
.links-principal a {
  box-shadow: 8px 28px 78px -9px rgba(89, 204, 51, 0.212);
}
.footer {
  text-align: center;
  margin-top: 8rem;
  grid-column: 1 / 4 ;
  font-size: 1.3rem;
}
.redes {
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
  place-content: center;
}
.icono {
  height: 70px;
  width: auto;
  margin: auto;
}
@media (max-width: 768px) {
  .contenedor-footer1 {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 8rem;
  }
}
.horarios {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 4rem;
  font-weight: 700;
}
.foot {
  margin-top: 2rem;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  font-weight: 700;
}
.p {
  font-style: normal;
}
.p1 {
  font-style: normal;
  font-size: 2rem;
  font-weight: 400;
}
.hor {
  margin-bottom: 4.5rem;
}
.dir {
  margin-top: 4rem;
  padding-top: 1rem;
}
.follow {
  margin-bottom: 5rem;
  font-size: 2.5rem;
  font-weight: 700;
} 
/**facebook**/
.face {
  width: 45px;
  height: 45px;
  background-color: #3b5998;
  border: none;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.185),
 0px 3px 3px rgba(255, 255, 255, 0.178) inset,
 0px -3px 3px rgba(0, 0, 0, 0.281) inset;
  transition: all .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  padding-bottom: 3px;
  text-decoration: none;
  margin: 0 0 1.5rem 0;
}
.face::before {
  background-color: transparent;
  content: "f";
  font-size: 1.1em;
  font-weight: 600;
  color: white;
  z-index: 5;
  transition: all .3s;
}
.face::after {
  content: "acebook";
  background-color: transparent;
  font-size: 0;
  opacity: 0;
  font-weight: 700;
  color: white;
  z-index: 5;
  transition: all .3s;
  transform: translateX(60px);
}
.face:hover {
  width: 160px;
  border-radius: 30px;
}
.face:hover::after {
  opacity: 1;
  font-size: 1.1em;
  transform: translateX(0px);
}
.face:hover .shine {
  transform: translate(-70px ,10px);
}
/**Instagram**/
.insta {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .3s;
  cursor: pointer;
  position: relative;
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  overflow: hidden;
  font-family: "Lobster Two", sans-serif;
  font-size: 1em;
  font-weight: 600;
}
.svgIcon {
  transition-duration: .3s;
}
.svgIcon path {
  fill: white;
}
.text {
  position: absolute;
  color: rgb(255, 255, 255);
  width: 160px;
  opacity: 0;
  transition-duration: .3s;
}
.insta:hover {
  width: 160px;
  transition-duration: .3s;
  border-radius: 30px;
}
.insta:hover .text {
  opacity: 1;
  transition-duration: .3s;
}
.insta:hover .svgIcon {
  opacity: 0;
  transition-duration: .3s;
}
/** Whatsapp **/ 
.whatsapp {
  width: 45px;
  height: 45px;
  background-color: #25d366;
  border: none;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.185),
0px 3px 3px rgba(255, 255, 255, 0.178) inset,
0px -3px 3px rgba(0, 0, 0, 0.281) inset;
  transition: all .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  padding-bottom: 3px;
  text-decoration: none;
  margin: 1.5rem 0 1.5rem 0;
}
.whatsapp::before {
  background-color: transparent;
  font-size: 1.1em;
  font-weight: 600;
  color: white;
  z-index: 5;
  transition: all .3s;
}
.whatsapp::after {
  background-color: transparent;
  font-size: 0;
  opacity: 0;
  font-weight: 700;
  color: white;
  z-index: 5;
  transition: all .3s;
  transform: translateX(60px);
}
.whatsapp:hover {
  width: 160px;
  border-radius: 30px;
}
.whatsapp:hover::after {
  opacity: 1;
  font-size: 1.1em;
  transform: translateX(0px);
}
.whatsapp:hover .shine {
  transform: translate(-70px ,10px);
}
.iconow {
  width: 70%;
}
.text {
  position: absolute;
  color: rgb(255, 255, 255);
  width: 160px;
  opacity: 0;
  transition-duration: .3s;
}
.whatsapp:hover {
  width: 160px;
  transition-duration: .3s;
  border-radius: 30px;
}
.whatsapp:hover .text {
  opacity: 1;
  transition-duration: .2s;
}
.whatsapp:hover .iconow {
  opacity: 0;
  transition-duration: .2s;
}