
html {
    font-size: 62.5%;
    box-sizing: border-box; /* Hackpara Box Model*/
    background-image: url(../Img/PlantillaHoneyCake.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: oblique;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 16px; /* 1rem = 10px */
}
.titulo {
    text-align: center;
    font-size: 7rem;
    margin-top: 11rem;
    margin-bottom: 10rem;
    color: rgb(165, 91, 31);
    font-style: oblique;
    font-weight: 600;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

/**navegacion**/
.links-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.links {
    margin-bottom: 3rem;
    margin-top: 1rem;
}
@media (min-width: 900px) {
    .links-principal {
        flex-direction: row;
        justify-content: center;
    }
}
@media (max-width: 920px) {
    .links-principal, .contenedor {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 7rem 0 7rem;
    }
}
@media (max-width: 750px) {
    .links-principal, .contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.links-principal a {
    --glow-color: #dfb5ab94;
    --glow-spread-color: #d8a69b63;
    --enhanced-glow-color: rgba(251, 252, 252, 0);
    --btn-color: #e2bcb7d7;
    border: .20em solid var(--glow-color);
    padding: 1em 3em;
    color: rgba(170, 100, 43, 0.932);
    font-size: 1.9rem;
    background-color: var(--btn-color);
    border-radius: 4em;
    outline: none;
    -webkit-box-shadow: 0 0 .5em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
            box-shadow: 0 0 .2em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .1em var(--glow-color);
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.1s;
    text-decoration: none;
    text-align: center;
    margin: .5rem .5rem .5rem .5rem;
}
.links-principal a:after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 50%;
    width: 50%;
    -webkit-filter: blur(2em);
        filter: blur(5em);
        opacity: 1;
    -webkit-transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
        transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
} 
.links-principal a:hover {
    color: rgb(255, 255, 255);
    background-color: var(--glow-color);
    -webkit-box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
        box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
} 
.links-principal a:active {
  -webkit-box-shadow: 0 0 0.6em .25em var(--glow-color),
      0 0 2.5em 2em var(--glow-spread-color),
      inset 0 0 .5em .25em var(--glow-color);
      box-shadow: 0 0 0.6em .25em var(--glow-color),
      0 0 2.5em 2em var(--glow-spread-color),
      inset 0 0 .5em .25em var(--glow-color);
}

.novedades {
    display: grid;
    grid-template-columns:60% 40%;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly;
    text-align: center;
    font-size: 3rem;
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    color: #693d33;
    margin: 10rem 5rem 10rem 5rem;
}
.contenido-novedades {
    font-size: 3rem;
    margin: 1rem 2rem 1rem 2rem;
}
.imgimg {
    background-image: url(../Img/fresas.webp);
    height: 400px;
    width: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 5rem;
}
@media (max-width: 899px) {
    .novedades {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 899px) {
    .imgimg {
        margin-top: 5rem;
    }
}

.titulo-catalogo {
    text-align: center;
    margin-top: 10rem;
    font-size: 3rem;
    font-style: oblique;
    margin-bottom: 10rem;
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    color: #693d33;
}
.catalogo-contenedor{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 2rem 5rem 2rem 5rem;
}
@media (max-width: 1100px) {
    .catalogo-contenedor{
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        column-gap: 1rem; 
    }
}
@media (max-width: 910px) {
    .catalogo-contenedor{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        column-gap: 1rem; 
        align-items: center;
    }
}
@media (max-width: 610px) {
    .catalogo-contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/** Card **/
.card {
    --card-color: #bbbb176b;
    --blub-color: rgba(228, 86, 86, 0.452);
    position: relative;
    user-select: none;
    padding: 10px;
}
.back {
    background-color: rgba(252, 119, 119, 0.062);
}
.card div {
    backdrop-filter: blur(15px);
    outline: .3rem solid var(--card-color);
    color: rgb(138, 74, 45);
    width: 250px;
    height: 320px;
    border-radius: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}
.card div .check {
    fill: rgb(252, 119, 119);
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}
  /**titulo tarjeta**/
.card div strong {
    font-size: 3rem;
    align-items: center;
}
.card div p {
    font-size: 2.1rem;
    margin: 0 0 0 0;
}
.card div hr {
    border: none;
    border-top: .5rem solid var(--card-color);
    opacity: .5;
}
.card div a {
    background-color: transparent;
    color: rgb(252, 119, 119);
    border: none;
    outline: .2rem solid var(--card-color);
    border-radius: 1.6rem;
    padding: 1rem 1rem;
    font-size: 2rem;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2em;
    margin-top: 2rem;
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: oblique;
}
.card div a .arrow {
    width: 20px;
    height: 20px;
    fill: rgb(252, 119, 119);
    transform: scale(0);
    transition: .3s;
}
.card div a:hover .arrow {
    width: 20px;
    margin-left: 1rem;
    transform: scale(1);
}
.card div a:hover {
    background-color: rgba(255, 105, 105, 0.411);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
a {
    text-decoration: none;
    color: rgb(252, 119, 119);
}

.contenedor-footer1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    text-align: center;
    font-size: 2rem;
    margin-top: 8rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(64, 255, 0, 0.288));
}
.imgimg, .links-principal a, .back {
  box-shadow: 8px 28px 78px -9px rgba(89, 204, 51, 0.301);
}
.footer {
    text-align: center;
    margin-top: 8rem;
    grid-column: 1 / 4 ;
    font-size: 1.3rem;
}
.redes {
    display: grid;
    text-align: center;
    align-items: center;
    justify-items: center;
    place-content: center;
}
.icono {
    height: 70px;
    width: auto;
    margin: auto;
}
@media (max-width: 768px) {
    .contenedor-footer1 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 8rem;
    }
}
.horarios {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 4rem;
    font-weight: 700;
}
.foot {
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    font-weight: 700;
}
.p {
    font-style: normal;
}
.p1 {
    font-style: normal;
    font-size: 2rem;
    font-weight: 400;
}
.hor {
    margin-bottom: 4.5rem;
}
.dir {
    margin-top: 4rem;
    padding-top: 1rem;
}
.follow {
    margin-bottom: 5rem;
    font-size: 2.5rem;
    font-weight: 700;
} 
/**facebook**/
.face {
    width: 45px;
    height: 45px;
    background-color: #3b5998;
    border: none;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.185),
   0px 3px 3px rgba(255, 255, 255, 0.178) inset,
   0px -3px 3px rgba(0, 0, 0, 0.281) inset;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    padding-bottom: 3px;
    text-decoration: none;
    margin: 0 0 1.5rem 0;
}
.face::before {
    background-color: transparent;
    content: "f";
    font-size: 1.1em;
    font-weight: 600;
    color: white;
    z-index: 5;
    transition: all .3s;
}
.face::after {
    content: "acebook";
    background-color: transparent;
    font-size: 0;
    opacity: 0;
    font-weight: 700;
    color: white;
    z-index: 5;
    transition: all .3s;
    transform: translateX(60px);
}
.face:hover {
    width: 160px;
    border-radius: 30px;
}
.face:hover::after {
    opacity: 1;
    font-size: 1.1em;
    transform: translateX(0px);
}
.face:hover .shine {
    transform: translate(-70px ,10px);
}

 /**Instagram**/
.insta {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .3s;
    cursor: pointer;
    position: relative;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    overflow: hidden;
    font-family: "Lobster Two", sans-serif;
    font-size: 1em;
    font-weight: 600;
}
.svgIcon {
    transition-duration: .3s;
}
.svgIcon path {
    fill: white;
}
.text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 160px;
    opacity: 0;
    transition-duration: .3s;
}
.insta:hover {
    width: 160px;
    transition-duration: .3s;
    border-radius: 30px;
}
.insta:hover .text {
    opacity: 1;
    transition-duration: .3s;
}
.insta:hover .svgIcon {
    opacity: 0;
    transition-duration: .3s;
}

  /** Whatsapp **/ 
.whatsapp {
    width: 45px;
    height: 45px;
    background-color: #25d366;
    border: none;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.185),
    0px 3px 3px rgba(255, 255, 255, 0.178) inset,
    0px -3px 3px rgba(0, 0, 0, 0.281) inset;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    padding-bottom: 3px;
    text-decoration: none;
    margin: 1.5rem 0 1.5rem 0;
}
.whatsapp::before {
    background-color: transparent;
    font-size: 1.1em;
    font-weight: 600;
    color: white;
    z-index: 5;
    transition: all .3s;
}
.whatsapp::after {
    background-color: transparent;
    font-size: 0;
    opacity: 0;
    font-weight: 700;
    color: white;
    z-index: 5;
    transition: all .3s;
    transform: translateX(60px);
}
.whatsapp:hover {
    width: 160px;
    border-radius: 30px;
}
.whatsapp:hover::after {
    opacity: 1;
    font-size: 1.1em;
    transform: translateX(0px);
}
.whatsapp:hover .shine {
    transform: translate(-70px ,10px);
}
.iconow {
    width: 70%;
}
.text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 160px;
    opacity: 0;
    transition-duration: .3s;
}
.whatsapp:hover {
    width: 160px;
    transition-duration: .3s;
    border-radius: 30px;
}
.whatsapp:hover .text {
    opacity: 1;
    transition-duration: .2s;
}
.whatsapp:hover .iconow {
    opacity: 0;
    transition-duration: .2s;
}